<% content_for(:title, t('.title')) %>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h5 class="text-center mt-5">Twitterで登録</h5>
            <div class="text-center mt-4">
                <%= link_to auth_at_provider_path(provider: :twitter), class: 'btn btn-twitter' do %>
                    <i class="fab fa-twitter"></i>
                    Twitterで登録
                <% end %>
            </div>
            <p class="or mt-5">または</p>
            <h5 class="text-center my-5">メールアドレスで登録</h5>
            <%= form_with model: @user, local: true do |f| %>
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                    <small class="text-muted">英数字8文字以上で入力してください</small>
                </div>
                <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>
                <%= f.submit (t 'defaults.register'), class: 'btn btn-secondary btn-block mb-3' %>
            <% end %>
            <div class='text-center'>
                <%= link_to (t '.to_login_page'), login_path %>
            </div>
        </div>
    </div>
</div>
