<div class="chart-wrapper mb-5">
    <canvas id="primaryChart" height="300"></canvas>
    <canvas id="secondaryChart" height="300"></canvas>
</div>
<script>
var canvas = document.getElementById('primaryChart');
var ctx = canvas.getContext('2d');
var primaryChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= @data.map {|d|d[-4,4]}.to_json.html_safe %>,
        datasets: [{
            label: 'Rate',
            data: <%= @rate.flatten %>
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
canvas.onclick = function(evt) {
    var activePoints = primaryChart.getElementsAtEvent(evt);
    if (activePoints[0]) {
        var chartData = activePoints[0]['_chart'].config.data;
        var idx = activePoints[0]['_index'];
        var label = chartData.labels[idx];
        location.href = 'monthlies?label=' + label;
    }
};

var canvas = document.getElementById('secondaryChart');
var ctx = canvas.getContext('2d');
var secondaryChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= @data.map {|d|d[-4,4]}.to_json.html_safe %>,
        datasets: [{
            label: '勝率',
            data: <%= @win_rate.flatten %>
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: 100
                }
            }]
        }
    }
});
canvas.onclick = function(evt) {
    var activePoints = secondaryChart.getElementsAtEvent(evt);
    if (activePoints[0]) {
        var chartData = activePoints[0]['_chart'].config.data;
        var idx = activePoints[0]['_index'];
        var label = chartData.labels[idx];
        location.href = 'monthlies?label=' + label;
    }
};
</script>
<div class="text-center">
    <div class="d-inline-flex flex-column">
        <%= link_to '過去作の戦績を入力', {controller: "battle_records", action: "new", name: "past"}, class: 'btn btn-primary mb-4' %>
        <%= link_to '現在の戦績を入力', {controller: "battle_records", action: "new", name: "current"}, class: 'btn btn-primary' %>
    </div>
</div>