<% content_for(:title, t('.title')) %>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <%= form_with model: @battle_record, local: true do |f| %>
                <div class="form-group">
                    <%= f.label :title, WinningEleven.human_attribute_name(:title) %>
                    <%= f.collection_select :winning_eleven_id, WinningEleven.current, :id, :title, {}, { class: "form-control" } %>
                </div>
                <div class="form-group">
                    <%= f.label :rate %>
                    <%= f.text_field :rate, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :win_rate %>
                    <%= f.text_field :win_rate, class: 'form-control' %>
                </div>
                <%= f.submit (t 'defaults.register'), class: 'btn btn-secondary' %>
            <% end %>
        </div>
    </div>
</div>