<!DOCTYPE html>
<html>
  <head>
    <title>WinningRate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  </head>

  <body>
    <% unless controller.controller_name == 'users' && controller.action_name == 'new' || controller.controller_name == 'users' && controller.action_name == 'create' || controller.controller_name == 'user_sessions' %>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
